.rbc-header {
  border-right: none !important;
  border-left: none !important;
  background-color: transparent !important;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-header-cell .rbc-today {
  background-color: #555a58 !important;
}


.rbc-event-label {
  /* font-size: 10px !important;
    color: white !important;
    background-color: black;
    width: 100%; */
  display: none !important;
}

.rbc-events-container {
  width: 100% !important;
}


.react-datepicker-wrapper {
  width: 100% !important;
}


.rbc-month-view {
  background-color: white !important;
  border: none !important;
}

.rbc-day-bg {
  border: none !important;
}

.rbc-event,
.rbc-background-event {
  z-index: 2;
  padding: 0px !important;
  border: none !important;
}

/* .rbc-time-slot {
  color: black;
  z-index: 1;
  font-size: 12px;
} */

/* .rbc-time-slot:not(.rbc-today .rbc-time-slot) {
    background-color: #eff4f7;
  } */

/*Event Styles*/


/*Timeslots Customization*/
/* .rbc-day-slot .rbc-time-slot:after {
    content: "";
    width: 100%;
    border-top: 1px solid #fbb3ec;
    display: block;
  } */

/* .react-datepicker__input-container {
  width: 100% !important;
} */